@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}




@layer components{

  .info{
    @apply flex gap-4
  }

  .shadow{
    @apply inset-shadow-[0_120px_35px_rgba(0,0,0,0.7)]
  }

  .card-border{
    @apply border border-gray-700 p-3 rounded-2xl self-center lg:w-fit 
  }

  .blue-button{
    @apply bg-[#2154FE] hover:bg-[#002bb6] cursor-pointer p-2 w-full rounded-3xl text-2xl mt-3
  }
  
  .gray-card-text{
    @apply text-xl text-gray-500
  }

  .Image-pos{
    @apply flex justify-end items-end m-1
  }

  .about-input{
    @apply bg-[#585858] rounded-xl
  }

  .about-list{
    @apply relative pr-6 after:content-['•'] after:absolute after:right-0 after:text-gray-600
  }

  
}

@layer base{ 
  label{
    @apply px-3 text-xl
  }
  input{
    @apply bg-[#2B2A4A]/80 p-2 px-4 rounded-4xl pr-28
  }

}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
